.title{
   margin-top: 70px;
   margin-bottom: 30px;
   font-family: Oswald;
   text-align: center;
}

.infos{
     margin-left:50px;
}


.imagens{
          padding-right:20px;
}

.container{
          margin-bottom: 20px;
}

@media (max-width: 1000px){
  
   .infos{
          margin-left: 15px;
          
   }
}