*{
  box-sizing: border-box;
}




      
      div h1{
        font-size: 40px;
       
       
      }

      .familia{
        position: absolute;
        left: 250px;
        top: 180px;
        font-family: 'Montserrat', cursive;
        font-size: 70px;
        width: 60%;
        color: #fff;
      }
      
      .corpoDeCristo{
        position: absolute;
        left: 250px;
        top: 400px;
        font-size: 40px;
        color: #fff;
        font-style: italic;
        width: 1350px;
        height: 50px;

      }

.container{
  position: relative;
}

@media (max-width: 1300px){
  .familia{
    position: absolute;
    left: 250px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 50px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 250px;
    top: 400px;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 950px;
    height: 50px;

  }

}

@media (max-width: 1211px){
  .familia{
    position: absolute;
    left: 150px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 50px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 150px;
    top: 400px;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 950px;
    height: 50px;

  }

}

@media (max-width: 1211px){
  .familia{
    position: absolute;
    left: 130px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 50px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 130px;
    top: 400px;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 950px;
    height: 50px;

  }

}

@media (max-width: 1100px){
  .familia{
    position: absolute;
    left: 100px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 50px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 100px;
    top: 400px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    width: 950px;
    height: 50px;

  }

}


@media (max-width: 1050px){
  .familia{
    position: absolute;
    left: 80px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 50px;
    width: 80%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 80px;
    top: 400px;
    font-size: 40px;
    color: #fff;
    font-style: italic;
    width: 850px;
    height: 50px;

  }

    
}

@media (max-width: 950px){
  .familia{
    position: absolute;
    left: 60px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 40px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 60px;
    top: 400px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    width: 850px;
    height: 50px;

  }

    
}

@media (max-width: 920px){
  .familia{
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 40px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 40px;
    top: 400px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    width: 850px;
    height: 50px;

  }

    
}

@media (max-width: 897px){
  .familia{
    position: absolute;
    left: 50px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 40px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 50px;
    top: 400px;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 650px;
    height: 50px;

  }

    
}


@media (max-width: 710px){
  .familia{
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 40px;
    top: 400px;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    width: 550px;
    height: 50px;

  }

    
}

@media (max-width: 555px){
  .familia{
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 30px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 40px;
    top: 400px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    width: 450px;
    height: 50px;

  }

    
}

@media (max-width: 495px){
  .familia{
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    width: 60%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 40px;
    top: 400px;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    width: 350px;
    height: 50px;

  }

    
}

@media (max-width: 495px){
  .familia{
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: 'Montserrat', cursive;
    font-size: 40px;
    width: 80%;
    color: #fff;
  }
  
  .corpoDeCristo{
    position: absolute;
    left: 40px;
    top: 420px;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    width: 250px;
    height: 50px;

  }
}

